body {
    background-color: rgb(192, 198, 198);
    font-family: Arial, Helvetica, sans-serif;
}

.main-box {
    background-color: rgb(244, 244, 244);
    padding: 20px;
    width: 600px;
    margin: 0 auto;
}

h1 {
    text-shadow: 2px 4px 15px rgb(82, 85, 87);
}

h2 {
    padding-top: 20px;
}

h3 {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

img {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

#footer {
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;

}

.a-footer {
    text-decoration: none;
}